@define-color green rgba(57, 153, 153, 0.8);
@define-color text rgba(250, 250, 250, 0.9);

* {
  font-family: "VictorMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  transition: 20ms;
  box-shadow: none;
}

window {
  background-color: rgba(0,0,0,0.6);
}

button {
	color: @text;
  font-size:18px;
  background-repeat: no-repeat;
	background-position: center 25%;
	background-size: 30%;
  border: none;
  box-shadow: none;
  animation: gradient_f 20s ease-in infinite;
  outline-style: none;
}

button:hover {
  background-color: rgba(180,180,180,0.07);
  border: 1px solid @green;
}

button:focus, button:active {
  background-size: 34%;
  color: @green;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

#shutdown { background-image: image(url("icons/shutdown.png")); }
#shutdown:focus, #shutdown:active { background-image: image(url("icons/shutdown_hover.png")); }
#reboot { background-image: image(url("icons/reboot.png")); }
#reboot:focus, #reboot:active { background-image: image(url("icons/reboot_hover.png")); }
#logout { background-image: image(url("icons/logout.png")); }
#logout:focus, #logout:active { background-image: image(url("icons/logout_hover.png")); }
#lock { background-image: image(url("icons/lock.png")); }
#lock:focus, #lock:active { background-image: image(url("icons/lock_hover.png")); }
